@use './size';

@mixin StandardTypography {
	font-family: 'Rajdhani';
	font-style: normal;
	font-weight: normal;
	letter-spacing: 0px;
}

//Typography @mixin for you to @include

@mixin Header-01 {
	@include StandardTypography();
	font-size: size.rem(54px);
	line-height: size.rem(64px);
	font-weight: 300;
}
@mixin Header-02 {
	@include StandardTypography();
	font-size: size.rem(48px);
	line-height: size.rem(50px);
	font-weight: 300;
}
@mixin Header-03 {
	@include StandardTypography();
	font-size: size.rem(32px);
	line-height: size.rem(40px);
}
@mixin Header-04 {
	@include StandardTypography();
	font-size: size.rem(28px);
	line-height: size.rem(36px);
}
@mixin Header-05 {
	@include StandardTypography();
	font-size: size.rem(20px);
	line-height: size.rem(28px);
	font-weight: 600;
}
@mixin Header-06 {
	@include StandardTypography();
	font-size: size.rem(18px);
	line-height: size.rem(22px);
	font-weight: 600;
}
@mixin Label-01 {
	@include StandardTypography();
	font-size: size.rem(16px);
	line-height: size.rem(20px);
	font-weight: 300;
}
@mixin Body-01 {
	@include StandardTypography();
	font-size: size.rem(16px);
	line-height: size.rem(20px);
}
@mixin Body-02 {
	@include StandardTypography();
	font-size: size.rem(16px);
	line-height: size.rem(22px);
	letter-spacing: size.rem(0.16px);
}
@mixin Code-01 {
	@include StandardTypography();
	font-size: size.rem(16px);
	line-height: size.rem(20px);
	letter-spacing: size.rem(0.32px);
}
@mixin Code-02 {
	@include StandardTypography();
	font-size: size.rem(20px);
	line-height: size.rem(28px);
	letter-spacing: size.rem(0.32px);
}
