@use '../../styles/typography';
@use '../../styles/size';

// Define text-shadow size variables
$glow-small: 8px;
$glow-large: 16px;

h1.cy,
h2.cy,
h3.cy,
h4.cy,
h5.cy,
h6.cy {
	color: var(--color-title);
	margin-bottom: 8px;

	&.primary {
		color: var(--color-primary);

		&.glow {
			text-shadow: 0 0 $glow-small var(--color-primary), 0 0 $glow-large var(--color-primary);
		}
	}

	&.secondary {
		color: var(--color-secondary);

		&.glow {
			text-shadow: 0 0 $glow-small var(--color-secondary), 0 0 $glow-large var(--color-secondary);
		}
	}

	&.tertiary {
		color: var(--color-tertiary);

		&.glow {
			text-shadow: 0 0 $glow-small var(--color-tertiary), 0 0 $glow-large var(--color-tertiary);
		}
	}

	&.quarternary {
		color: var(--color-quarternary);

		&.glow {
			text-shadow: 0 0 $glow-small var(--color-quarternary), 0 0 $glow-large var(--color-quarternary);
		}
	}

	&.success {
		color: var(--color-success);

		&.glow {
			text-shadow: 0 0 $glow-small var(--color-success), 0 0 $glow-large var(--color-success);
		}
	}

	&.glow {
		text-shadow: 0 0 $glow-small currentColor, 0 0 $glow-large currentColor;
	}
}

h1,
h1.cy {
	@include typography.Header-01();
}

h2,
h2.cy {
	@include typography.Header-02();
}

h3,
h3.cy {
	@include typography.Header-03();
}

h4,
h4.cy {
	@include typography.Header-04();
}

h5,
h5.cy {
	@include typography.Header-05();
}

h6,
h6.cy {
	@include typography.Header-06();
}