@use '../../styles/size';

.toggle-clip-wrapper {
	width: 500px;
	height: 40px;
	position: relative;
	background-color: var(--color-widget-border); // Acts as the "border" color
	clip-path: polygon(0 0, 100% 0, 100% calc(100% - size.rem(16px)), calc(100% - size.rem(16px)) 100%, 0 100%);
	padding: size.rem(1px); // Padding to simulate the border thickness

	.toggle.cy {
		position: absolute;
		top: 1px;
		left: 1px;
		width: calc(100% - 2px); // Ensure it fits inside the wrapper
		height: calc(100% - 2px); // Ensure it fits inside the wrapper
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: size.rem(4px) size.rem(32px);
		background-color: var(--color-widget-background);
		clip-path: inherit;


		.toggle-arrow {
			margin-top: size.rem(4px);

			svg {
				width: size.rem(24px);
				height: size.rem(24px);
				stroke: var(--color-primary);
			}

			cursor: pointer;
		}

		div.toggle-label {
			text-align: center;
		}

		.toggle-indicators {
			display: flex;
			gap: size.rem(4px);
			margin-top: size.rem(8px);

			.toggle-indicator {
				width: 24px;
				height: 2px;
				background-color: var(--color-quarternary);

				&.active {
					background-color: var(--color-secondary);
				}
			}
		}
	}
}