/* Core */
@use './styles/functions';
@use './styles/normalize';
@use './styles/reset';
@use './styles/size';
@use './styles/theme';
@use './styles/typography';
@use './styles/util';
/* Fonts */
@use './fonts/fonts';
/* Components */
@use './components/divider/divider';
@use './components/label/label';
@use './components/toggle/toggle';
@use './components/switch/switch';

:root.theme-transition,
:root.theme-transition * {
	transition: border-color 1000ms, color 1000ms, background-color 1000ms !important;
	transition-delay: 0s !important;
}

:root {
	font-family: 'Rajdhani', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: size.$html-font-size;
}

.clickable {
	@include util.clickable();
}

.disabled {
	cursor: not-allowed !important;
}

:focus {
	outline: none !important;
}